@import '~styles/variables';

.dropdown {
  $self: &;
  position: relative;
  box-sizing: border-box;
  max-width: 266px;
  width: 100%;

  &_active {
    #{$self}-header {
      border-color: $dark-shade-50;
    }
  }

  &_big {
    max-width: 320px;
  }

  &_big-body {
    #{$self}-body {
      width: 320px;
      max-width: 320px;
    }
  }

  &-header {
    box-sizing: border-box;
    width: 100%;
    padding: 9px 32px 9px 14px;
    border: 1px solid $dark-shade-25;
    border-radius: 2px 2px 0 0;
    cursor: pointer;

    &__text {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 24px;
    }

    &__icon {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
    }
  }

  &-body {
    z-index: 1;
    background-color: $background-color;
    position: absolute;
    top: 100%;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $dark-shade-50;
    border-radius: 0 0 2px 2px;
    border-width: 0 1px 1px 1px;
    padding: 6px 6px 0 14px;

    &-helper {
      display: flex;
      justify-content: space-between;

      &_apply {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}