@import '~styles/variables';

.button {
  $border-radius: 22px;
  box-sizing: border-box;
  height: 100%;
  padding: 0 20px 2px 20px;

  border: none;
  font-size: 12px;
  font-family: 'Montserrat-Bold';
  font-weight: bold;
  border-radius: $border-radius;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &-simple {
    color: $purple;
    height: auto;
    border-radius: 0;
    padding: 0;

    &_grey {
      color: $dark-shade-50;
    }
  }

  &-fill, &-nav {
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    color: white;
  }

  &-fill {
    &:hover {
      background: linear-gradient(180deg, rgba($purple, .5) 0%, rgba(#8BA4F9, .5) 100%);
    }
  }

  &-nav {
    position: relative;
    width: 320px;

    &-arrow {
      position: absolute;
      right: 0;
      top: 0;
      width: 44px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-hollow {
    color: $purple;
    border-radius: $border-radius;
    border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;

    &:hover {
      background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(180deg, rgba($purple, .5) 0%, rgba(#8BA4F9, .5) 100%);
    }
  }
}