@import '~styles/variables';

.like-button {
  $self: &;
  display: flex;
  align-items: center;
  min-width: 40px;
  background-color: $background-color;
  border: 1px solid $dark-shade-25;
  border-radius: 10px;
  font-size: 10px;
  height: 20px;
  padding: 0;
  color: $dark-shade-25;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &_liked {
    border-color: $purple;
    color: $purple;
  }

  &__icon {
    font-size: 10px !important;
    padding: 0 4px;
  }

  &__count {
    padding-right: 4px;
  }
}