$dark-shade: #1f2041;
$dark-shade-75: rgba(#1f2041, .75);
$dark-shade-50: rgba(#1f2041, .5);
$dark-shade-25: rgba(#1f2041, .25);
$dark-shade-5: rgba(#1f2041, .05);
$purple: #bc9cff;
$green: #6fcf97;

$background-color: white;